@use "../../styles/variables/variables" as v;
.dialog {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.modalWrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.modal {
  background: white;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 2rem;
}

/* Show modal with animation */
.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

/* Close button */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

/* Title */
.title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Description */
.description {
  font-size: 16px;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3px;
  .mainImageWrapper {
    position: relative;
    aspect-ratio: 16/10;
    width: 100%;
    height: 100%;
    background-image: url("/pattern.png");
    background-size: cover;
    background-position: 50%;
    border-radius: 0.5rem;
  }
  .imagesContainer {
    display: flex;
    gap: 3px;
    .imageWrapper {
      position: relative;
      flex: 1;
      aspect-ratio: 16/10;
      background-color: white;
      border-radius: 10rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  padding: 0.5rem;
  .title {
    font-weight: 700;
    text-transform: capitalize;
  }
  .information {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 4px;
    div {
      display: flex;
      justify-content: space-between;
      h4 {
        color: v.$gray-text;
        text-transform: capitalize;
      }
      p {
        color: v.$text-color;
        font-weight: 500;
      }
    }
  }
}
