@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
#root {
  min-height: 100dvh;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
