@use "../../styles/variables/variables" as v;
.searchBar {
}
.searchManufacturer {
  .comboBoxButton {
    position: absolute;
    margin-top: 14px;
  }
  .searchInput {
    width: 100%;
    height: 3rem;
    padding-left: 3rem;
    padding: 1rem;
    background-color: rgba(59, 60, 152, 0.03);
    border-radius: 9999px;
    outline: none;
    cursor: pointer;
    font-size: 0.875rem;
  }
  .comboBoxItem {
    &.active {
      background-color: v.$accent-yellow;
    }
    background-color: v.$accent-light-purple;
  }
}
