$primary-purple: #7f5fc6;
$secondary-purple: #9b59b6;
$background-color: #ffffff;
$accent-light-purple: #f1e6ff;
$text-color: #2b2c35;
$accent-yellow: #ffb84d;
$hover-purple: #7a4b9a;
$gray-text: #747a88;
$accent-blue: #2b59ff;
