@use "../../styles/variables/variables" as v;
.customButton {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  transition: all 0.15s linear;
  &:hover {
    cursor: pointer;
  }
}

.customStyle1 {
  background-color: v.$primary-purple;
  border-radius: 2rem;
  color: v.$background-color;
  &:hover {
    background-color: v.$hover-purple;
  }
}

.customStyle2 {
  color: v.$primary-purple;
  border-radius: 2rem;
  background-color: v.$background-color;
  min-width: 130px;
  &:hover {
    scale: 1.05;
  }
}

.customStyle3 {
  width: 100%;
  padding: 16px 0;
  border-radius: 2rem;
  background-color: v.$accent-yellow;
}
